
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Cadastro de Requerimentos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    
      <li class="nav-item">                  
          <a class="nav-item nav-link " [routerLink]="['/requerimento']">Criar Novo</a>
      </li>
      
      <li class="nav-item">
        
      </li>

      <li class="nav-item">
        <a class="nav-item nav-link" [routerLink]="['/login']">Sair</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mx-5 my-2">


<!-- dados do aluno -->
<div class="container">
    <div class="row">
      <div class="col-1">Nome:</div>
      <div class="col">{{aluno.nome}}</div>
    </div>
    <div class="row">
        <div class="col-1">Curso:</div>
        <div class="col">{{aluno.curso}}</div>
    </div>
</div>
<br>

<!-- Table de requerimentos -->
<table class="table table-hover" >
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Descrição</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr [hidden]="!requerimentos || !requerimentos.items" *ngFor="let item of requerimentos.items" (click)="selectRow(item)">
      <td>{{item.numeroRequerimento}}</td>
      <td>{{item.texto}}</td>
      <td>{{item.status}}</td>
    </tr>
    
  </tbody>
</table>
<p><em>Para incluir novos requerimentos, clique em "Criar novo". Para editar/excluir requerimentos, clique no requerimento que deseja.</em></p>

</div>