<div class="row m-0">
  <!-- Formulário de login -->
  <form class="m-4"  [formGroup]="LoginForm" (ngSubmit)="onFormSubmit(LoginForm.value)" >
    <h1>Login</h1>

    <!-- Campo de email -->
    <div class="form-group">
      <label for="email">Usuário (Email)</label>
      <input type="email" class="form-control form-control-lg" id="email" placeholder="Informe seu email"
        formControlName="email">
      
    </div>

    <!-- Campo de password -->
    <div class="form-group">
      <label for="senha">Password</label>
      <input type="password" class="form-control form-control-lg" id="senha" placeholder="Senha" formControlName="senha">
    </div>
    <!-- botao -->
    <button  [disabled]="!LoginForm.valid" type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
    <br>
    <span>Por favor, utilize o usuário: <i>jose@email.com</i> e senha: <i>123</i> </span>
  </form>
</div>