

<nav class="navbar navbar-expand-lg navbar-light bg-light">  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">  
      <li class="nav-item">
        
        <a class="nav-item nav-link" [routerLink]="['/requerimentos']">Voltar</a>
      </li>
    </ul>
  </div>
</nav>

<div class="row m-0">
    <!-- Formulário de login -->
    <form class="m-4"  [formGroup]="RequerimentoForm" (ngSubmit)="onFormSubmit(RequerimentoForm.value)" >
      <h1>Cadastrar requerimento</h1>
      <div class="form-group">
          <label>Numero: {{txtCodigo}}</label>          
      </div>

      <!-- Campo de email -->
      <div class="form-group">
        <label for="texto">texto</label>
        <textarea class="form-control form-control-lg" id="texto" placeholder="Descreva o que deseja"
          formControlName="texto" rows="3">  
        </textarea>      
      </div>
      <!-- botoes-->
      <div class="form-row">
          <div class="form-group col-md-6">
              <button [disabled]="!requerimento || !requerimento.id" type="button" class="btn btn-link btn-block btn-lg" (click)="clickExcluir()" >Excluir</button>
          </div>
          <div class="form-group col-md-6">
              <button  [disabled]="!RequerimentoForm.valid" type="submit" class="btn btn-primary btn-block btn-lg">Salvar</button>
          </div>
      </div>
      
      <br>      
    </form>
</div>